/*PLACEHOLDER CONTENT START*/

/* Themes */
/*Note: This is all a placeholder and will not be in the final webpage*/
/*as I can't tell which theme to pick*/
:root {
  --body-color: #FAEBD7;
  --main-container-bg: url('images/KCCS_Background_Cream.webp') center/contain repeat;
  --header-footer-color: #4a3323;
  --header-footer-text: #fdffff;
  --main-header-color: #4a3323;
  --main-header-shadow: #FAEBD7;
  --subheading-color: #952e30;
  --heading-color: #952e30;
  --note-container-bg: url('images/KCCS_Design_Cream.webp') center/350px repeat;
  --note-color: #fcfeff;
  --first-tape: url('images/Note_Tape_Red.webp');
  --second-tape: url('images/Note_Tape_Green.webp');
  --third-tape: url('images/Note_Tape_Orange.webp');
  --fourth-tape: url('images/Note_Tape_Green.webp');
  --text-color: #4a3323;
  --nav-link-color: #8C1F25;
  --nav-hover-color: #4e7478;
  --nav-bar-color: #f7e1bf;
}

.theme-eggshell {
  --body-color: #f9f6e6;
  --main-container-bg: url('images/KCCS_Background_Eggshell.webp') center/contain repeat;
  --note-container-bg: url('images/KCCS_Design_Eggshell.webp') center/350px repeat;
  --nav-bar-color: #f5f0da;
}

.theme-minimal {
  --main-container-bg: url('images/KCCS_Background_Minimal.webp') center/contain repeat;
  --nav-bar-color: #faebd7;
}

.theme-peach {
  --body-color: #f0c986;
  --main-container-bg: url('images/KCCS_Background_Peach.webp') center/contain repeat;
  --main-header-shadow: #f9f6e6;
  --subheading-color: #4a3323;
  --note-container-bg: url('images/KCCS_Design_Peach.webp') center/350px repeat;
  --note-color: #f6ead4;
  --first-tape: url('images/Note_Tape_Green.webp');
  --second-tape: url('images/Note_Tape_Orange.webp');
  --third-tape: url('images/Note_Tape_Red.webp');
  --fourth-tape: url('images/Note_Tape_Green.webp');
  --nav-hover-color: #c9643a;
  --nav-bar-color: #f2d39e;
}

.theme-green {
  --body-color: #aabba9;
  --main-container-bg: url('images/KCCS_Background_Green.webp') center/contain repeat;
  --header-footer-text: #f9f6e6;
  --main-header-color: #FAEBD7;
  --main-header-shadow: #4a3323;
  --subheading-color: #f9f6e6;
  --heading-color: #577478;
  --note-container-bg: url('images/KCCS_Design_Green.webp') center/350px repeat;
  --note-color: #FAEBD7;
  --first-tape: url('images/Note_Tape_Red.webp');
  --second-tape: url('images/Note_Tape_Green.webp');
  --third-tape: url('images/Note_Tape_Orange.webp');
  --fourth-tape: url('images/Note_Tape_Yellow.webp');
  --nav-link-color: #4a3223;
  --nav-hover-color: #f5f0da;
  --nav-bar-color: #91a69a;
}

.theme-burgundy {
  --body-color: #d28463;
  --main-container-bg: url('images/KCCS_Background_Burgundy.webp') center/contain repeat;
  --header-footer-color: #4a3323;
  --header-footer-text: #f9f6e6;
  --main-header-color: #fcfeff;
  --main-header-shadow: #4a3323;
  --subheading-color: #fcfeff;
  --heading-color: #952e30;
  --note-container-bg: url('images/KCCS_Design_Burgundy.webp') center/350px repeat;
  --note-color: #FAEBD7;
  --first-tape: url('images/Note_Tape_Red.webp');
  --second-tape: url('images/Note_Tape_Green.webp');
  --third-tape: url('images/Note_Tape_Yellow.webp');
  --fourth-tape: url('images/Note_Tape_Green.webp');
  --nav-link-color: #ffffff;
  --nav-hover-color: #f5f0da;
  --nav-bar-color: #dda385;
}

.theme-switcher {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--header-footer-color);
}

.theme-button {
  padding: 8px 16px;
  border: 2px solid var(--header-footer-color);
  background-color: white;
  color: var(--header-footer-color);
  font-family: 'KCCS', sans-serif;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s ease;
}

.theme-button.active {
  background-color: var(--header-footer-color);
  color: white;
}

/* Responsive Design for Theme Switcher Buttons */
@media (max-width: 600px) {
  .theme-switcher {
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    gap: 8px;
  }

  .theme-button {
    width: 50%;
    padding: 10px 0;
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }
}

/* PLACEHOLDER CONTENT END */

/* Custom Typeface (KCCS) */
/*Note: This font does not contain the Euro or Pence currency symbols*/
@font-face {
  font-family: 'KCCS';
  src: url('fonts/KCCS.woff2') format('woff2'),
  url('fonts/KCCS.woff') format('woff'),
  url('fonts/KCCS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Loading Animation */
@keyframes fade {
  0% {
    transform: translateY(var(--offset, 0));
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.title-container,
.title-logo,
.nav-logo,
.nav-bar #nav-links {
  opacity: 0;
  animation: 0.5s fade ease-out forwards;
}

.title-container,
.title-logo {
  --offset: 5%;
}

.nav-logo,
.nav-bar #nav-links {
  --offset: -5%;
}

/* Staggering */
.nav-bar #nav-links, .nav-logo { animation-delay: 0.2s; }
.title-container { animation-delay: 0.6s; }
.title-logo { animation-delay: 0.8s; }

/* Background Color Behind Everything */
body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: 'KCCS', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header on top of Page for Hours */
.header {
  background-color: var(--header-footer-color);
  color: var(--header-footer-text);
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
}

/* Navigation Bar */
.nav-bar {
  justify-content: space-between;
  padding: 1em;
  overflow: hidden;
  background-color: var(--nav-bar-color);
  position: relative;
}

/* Logo in Nav Bar */
.nav-logo {
  width: 120px;
  height: auto;
}

/* Nav Links */
/*Note: This just directs to different sections of the same page for now*/
.nav-bar #nav-links {
  display: none;
}

/*.nav-bar a {*/
.nav-bar a {
  text-decoration: none;
  color: var(--nav-link-color);
  font-size: 1.5rem;
  transition: color 0.3s;
  display: block;
}

/* Mobile Dropdown Menu */
.nav-bar a.icon {
  display: flex;
  position: absolute;
  right: 20px;
  top: 20px;
  width: auto;
  height: auto;
  z-index: 1;
}

/* Hamburger Icon */
#menu-icon {
  width: 35px;
  height: auto;
}

.nav-bar a:hover {
  color: var(--nav-hover-color);
}

/* Main Section (Title, Subheading, Logo, Background Image) */
.main-section {
  position: relative;
  width: 100%;
  padding: 40px 0;
  overflow: hidden;
}

/* Background Image Wrapper */
.main-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-container-bg);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
  opacity: 0.3;
  z-index: -2;
}

/* Main Text & Logo Wrapper*/
/*This is primarily to center the content*/
.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  gap: 40px;
  position: relative;
  z-index: 1;
}

/* Main Title and Subheading Container */
.title-container {
  flex: 1;
  /*text-align: left;*/
  text-align: center;
}

/* Main Logo */
.title-logo {
  max-width: 350px;
  display: block;
  object-fit: contain;
  margin: 10px auto;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.2));
  transform: rotate(-5deg);
  /*box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);*/
  transition: transform 0.3s ease-in-out;
}

.title-logo:hover{
  transform: rotate(3deg);
}

/* Wrapping sticky notes inside background container */
#sticky-notes-container {
  position: relative;
  padding: 20px;
}

#sticky-notes-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--note-container-bg);
  opacity: 0.3;
  mask-image: linear-gradient(to bottom, transparent 0%,
  rgba(0, 0, 0, 1.0) 20%, rgba(0, 0, 0, 1.0) 80%, transparent 100%);
  z-index: -1;
}

/* Sticky Note Containers */
/*Referenced sticky note code from:*/
/*https://geeksretreat.wordpress.com/2013/09/04/css3-cork-board-with-sticky-notes/*/
#about-container, #contact-container, #menu-container {
  background-size: cover;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*  padding: 40px;*/
  padding: 5% 0;
  gap: 50px;
  /*align-items: flex-start;*/
  align-items: center;
}

/* Sticky Notes */
.note {
  width: 350px;
  min-height: 350px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  background-color: var(--note-color);
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-size: cover;
  align-self: center;
}

/* If there's an Image instead of a Sticky Note */
.image-note, .image-note-map {
  width: 350px;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.3));
  /*box-shadow: 5px 5px 10px rgba(0,0,0,0.3);*/
  border-radius: 8px;
}

.full-note-image {
  width: 100%;
  /*min-height: 550px;*/
  max-width: 550px;
  height: auto;
  /*border-radius: 8px;*/
  object-fit: cover;
  align-items: center;
  flex-direction: column;
}

.image-note-map {
  cursor: pointer;
}

/* When clicked, the map zooms in */
.image-note-map.enlarged {
  transition: transform 0.25s ease;
  max-width: 100%;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  object-fit: contain;
  z-index: 10;
}

.note:hover, .image-note:hover {
  transform: rotate(3deg);
  transition: transform 0.3s ease-in-out;
}

/* Sticky Note Variations with Different Textures / Rotations */
.sticky1 {
  background: url('images/Note_Background1.webp') no-repeat center, var(--note-color);;
  background-size: cover;
  transform: rotate(-3deg);
  background-blend-mode: multiply;
}

.sticky2 {
  background: url('images/Note_Background2.webp') no-repeat center, var(--note-color);;
  background-size: cover;
  transform: rotate(2deg);
  background-blend-mode: multiply;
}

.sticky3 {
  background: url('images/Note_Background1.webp') no-repeat center, var(--note-color);;
  background-size: cover;
  transform: rotate(-1deg);
  background-blend-mode: multiply;
}

.sticky4 {
  background: url('images/Note_Background2.webp') no-repeat center, var(--note-color);;
  background-size: cover;
  transform: rotate(4deg);
  background-blend-mode: multiply;
}

/* Tape on top of Sticky Notes */
.tape {
  width: 200px;
  height: auto;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.sticky1 .tape {
  content: var(--first-tape);
}

.sticky2 .tape {
  content: var(--second-tape);
}

.sticky3 .tape {
  content: var(--third-tape);
}

.sticky4 .tape {
  content: var(--fourth-tape);
}

/* Images Inside Notes */
.embedded-image {
  width: 90%;
  height: auto;
  max-width: 150px;
  border-radius: 8px;
}

.embedded-image1 {
  width: 90%;
  height: auto;
  max-width: 250px;
  border-radius: 8px;
}

/* Headers for Each Section */
h1 {
  font-size: 4rem;
  font-weight: bold;
  /*text-shadow: 4px 1px 1px #FAEBD7;*/
  text-shadow: 4px 1px 1px var(--main-header-shadow);
  color: var(--main-header-color) ;
}

.subheading {
  font-size: 2rem;
  font-style: italic;
  color: var(--subheading-color);
  position: relative;
}

/* Circle behind the subheader word "spot" */
.highlight-dot {
  position: relative;
  z-index: 1;
  padding: 2px 6px;
  color: #fdffff;
}

.highlight-dot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.3em;
  height: 2.3em;
  background-color: #ec0431;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

h2 {
  color: var(--heading-color);
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0;
  font-weight: bold;
}

h3 {
  color: var(--heading-color);
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}

/* Bullet Point Style (None) */
ul
{
  list-style-type: none;
}

/* Map */
/*Note: Not implemented yet*/
/*#map {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  color: #777;*/
/*  font-style: italic;*/
/*}*/

/* Footer Style */
footer {
  background-color: var(--header-footer-color);
  color: var(--header-footer-text);
  /*padding: 20px;*/
  padding: 30px 10%;
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container for Footer Logo and Text */
.footer-container {
  display: flex;
  justify-content: start;
  /*align-items: flex-start;*/
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}

/* Footer Logo */
.footer-logo {
  max-width: 250px;
  height: auto;
  margin-right: 40px;
  flex-shrink: 0;
  filter: invert(1);
}

/* Footer text: Heading, Paragraph, Bold */
.footer-text {
  text-align: left;
}

.footer-text h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-text p {
  font-size: 1rem;
  margin: 5px 0;
}

.footer-text strong {
  font-size: 1.2rem;
  display: block;
  margin-top: 15px;
}

.header, footer {
  width: 100vw; /* Trying to make sure the content of webpage doesn't overflow header and footer */
  margin: 0;
  padding: 10px 0;
}

html, body {
  overflow-x: hidden; /* Trying to make sure the content of webpage doesn't overflow header and footer */
  width: 100%;
}

/*Note: max width numbers are currently approximations based on Chrome Dev Tools*/
/* Responsive Design for Header Stuff */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 0;
  }

  .title-logo {
    max-width: 60%;
    height: auto;
    transform: rotate(-3deg);
  }
}

/* Responsive Design for Nav Bar */
@media (max-width: 600px) {
  .nav-logo,
  .menu-icon {
    max-width: 80%;
  }

  .nav-bar{
    padding: 0.3em;
  }

  .nav-bar #nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    /*align-items: center;*/
    /*margin-top: 10px;*/
    align-items: center;
  }

  .nav-bar a.icon {
    display: block;
  }

  .nav-bar #nav-links.show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-bar #nav-links a {
    padding: 5px 10px;
    font-size: 1.2rem;
  }
}

/* Hide hamburger icon and show nav links */
@media (min-width: 601px) {
  .nav-bar {
    display: flex;
  }

  .nav-bar #nav-links {
    display: flex;
    justify-content: flex-start;
    width: auto;
    align-items: center;
    gap: 40px;
    padding: 0;
    margin: 0;
  }

  .nav-bar a.icon {
    display: none;
  }
}

/* Responsive Design for Footer */
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    padding: 20px 5%;
  }

  .footer-logo {
    max-width: 50%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .footer-text {
    max-width: 80%;
    text-align: center;
  }
}

/* Responsive Design for Sticky Notes */
@media (max-width: 600px) {
  .tape {
    width: 130px;
    top: -10px;
  }

  .note {
    width: 200px;
    min-height: 200px;
    transform: none;
    font-size: 1rem;
    margin: 10px auto;
    gap: 0;
    padding: 0 8%;
  }

  .full-note-image,
  .embedded-image,
  .embedded-image1 {
    max-width: 80%;
    height: auto;
  }

  .embedded-image,
  .embedded-image1{
    padding: 5% 0;
  }

  .full-note-image
  {
    gap: 0;
  }
}

@media (max-width: 705px) {
  .image-note-map.enlarged {
    max-width: 80%;
    transform: translate(-50%, -50%) scale(1.5);
  }
}

/* Responsive Design for Font Sizes */
@media (max-width: 600px) {
  .title-container {
    padding: 0 5%;
  }

  .highlight-dot::before {
    width: 2.2em;
    height: 2.2em;
  }

  h1 {
    font-size: 2.5rem;
  }

  .subheading {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.8rem;
    padding: 10px 0 0 0;
  }

  h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.9rem;
  }

  li {
    font-size: 0.9rem;
  }
}
